body{
  background-color: #fff;
}
#header{
  text-align: center;
}
#header .admin{
  padding-left: 4%;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}
.navbar li{
  margin-left: 2%;
  margin-right: 2%;

}
.navbar form{
  display: flex;
  margin: 0 3%;
  /* helps in increasing the size of search bar */
  flex-grow: 1;
}
.navbar .fas:hover{
  color: white;
}
.navbar .collapse{
  padding-right: 4%;
}
#banner{
  margin-top: 8%;
}
#banner .carousel {
  padding-left: 5%;
  padding-right: 5%;
}

#banner img {
  width: 100%;
  height: 400px;
}
#banner .carousel-inner{
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -webkit-border-radius:25px;
}
#trending{
  margin-top: 4%;
  padding-left: 5%;
  padding-right: 5%;
}
#trending .container-fluid{
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -webkit-border-radius:5px;
}
#trending h2{
  display: inline-block;
}
#trending .trending-header button{
  float: right;
}
#products{
  margin-top: 4%;
  padding-left: 5%;
  padding-right: 5%;
}
#products .container-fluid{
  background-color: #fceddc;
  -webkit-border-radius:15px;
  padding-bottom: 2%;
  padding-top: 1%;
}
#products .catalogue{
  margin-top: 3%;
}
